<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <form action='/predict.js' method='POST' data-remote="true" accept-charset="UTF-8">
            <div class="card" >
                <img class="card-img-top" src="https://miro.medium.com/max/1024/0*KfHijq1bO1nDV5Dl.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title font-weight-bold">Would you survive on Titanic?</h4>
                        <div class="form-group">
                            <label for="class">Class of ticket</label>
                            <select id="class" name="Pclass" class="form-control">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select id="gender" name="Sex" class="form-control">
                                <option selected value=0>M</option>
                                <option value=1>F</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fare">Ticket price</label>
                            <input type="number" id="Fare" class="form-control" name="Fare" step="0.01" required="true">
                            </input>
                            <small> Max was 512</small>

                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input class="form-control" type="number" name="Age" id="age" required="true">
                            </input>
                            <small> Max was 80</small>
                        </div>
                        <div class="form-group">
                            <label for="sibsp">Number of your siblings/spouses on board</label>
                            <input type="number" id="sibsp" name="SibSp" class="form-control" required="true">
                            </input>
                        </div>
                        <div class="form-group">
                            <label for="parch">Number of your parents/children on board</label>
                            <input type="number" id="parch" name="Parch" class="form-control" required="true">
                            </input>
                        </div>
                        <button href="#" class="btn btn-primary mx-auto" type="submit" style="display: block">Would you survive?</button>
            </div>
        </div>
        </form>
	</div>
</div>
